div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    background-image: url(Cat.jpg);
    background-size: cover;
}
#box2{
    background-image: url(Dog.jpg);
    background-size: contain;
}
#box3{
    background-image: url(Bear.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#box4{
    background-image: url(Panda.jpg);
    background-size: contain;
}