/* div{
    background-color: pink;
    display: inline;
} */
div{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
button{
    display: block;
}
#Box1{
    background-color: rgba(0, 0, 255, 0.5);
}
#Box2{
    background-color: rgba(0, 0, 255, 0.75);
}
#Box3{
    background-color: rgba(0, 0, 255, 1);
}